.container{
    background-color: darkblue;
}
img{
    display: block;
    width: 80%;
    height: 80%;
    margin: auto;
    padding-top: 30px;
}
.center{
    text-align: center;
}
.products{
    box-sizing: border-box;
    border: 3px solid black;
}
.bgColorLightBlue{
    background-color: lightblue;
}
.searchBar{
    border: 3px solid black;
}