<div class="container">
  <aside class="searchBar">
    <input type="text">
    <button>Search</button>
    <mat-form-field>
    <select>
      <option>Fish</option>
      <option>Coral</option>
    </select>
  </mat-form-field>
  </aside>
  <div class="productsForSale">
    <div class="coral">Ultra Rasta Zoa</div>
    <div class="fish">Picasso Percula Clownfish</div>
    <div class="coral">Halloween Leptoseris</div>
    <div class="coral">Rainbow Acan</div>
    <div class="fish">Lined Seahorse</div>
    <div class="coral">3G Mummy Eye Chalice</div>
    <div class="coral">Blonde Haired Blue Eye Bitch Zoa</div>
    <div class="coral">Pink Boobie Chalice</div>
    <div class="fish">Fuzzy Nut</div>
  </div>
</div>