<div class="darkblue">
<div class="container">
  <div class="row">
    <div class="col-lg-3 col-sm-12 searchBar bgColorLightBlue">
      <h2>Search</h2>
      <input type="text" [(ngModel)]="refine">
      <button>Search</button>
      <select class="custom-select">
        <option selected>Search By:</option>
        <option value="fish">Fish</option>
        <option value="coral">Coral</option>
      </select>
      <a href="/cart"><button type="button" class="btn btn-dark darkblue">View Cart</button></a>
    </div>
    <div class="col-lg-9 col-sm-12">
      <div class="row">
        <div *ngFor="let product of products | filter:refine" class="col-4 products bgColorLightBlue">
          <div class="coral center"><img [src]="'assets/' + product.img">
            <h4 class="center">{{product.name}}</h4>
            <p>{{product.price}}</p>
            <button type="button" class="btn darkblue textWhite">Add to cart</button>
          </div> 
        </div>
      </div>
    </div>
  </div>
</div>
</div>