.darkblue{
    background-color: darkblue;
}
img{
    display: block;
    width: 75%;
    height: 75%;
    margin: auto;
    padding-top: 30px;
}
.center{
    text-align: center;
}
.products{
    box-sizing: border-box;
    border: 3px solid black;
    padding-bottom: 10px;
}
.bgColorLightBlue{
    background-color: lightblue;
}
.searchBar{
    border: 3px solid black;
}
.textWhite{
    color: white;
}
