<div [ngStyle]="{background: 'url(assets/reefbackground.jpg)'}">

  <div class="container">
    <app-header></app-header>
    <div class="container">
    <div class="row">
      <div class="col-3 searchBar secondary">
        <h2>Search</h2>
        <input type="text" [(ngModel)]="refine">
        <button>Search</button>
        <select class="custom-select">
          <option selected>Search By:</option>
          <option value="fish">Fish</option>
          <option value="coral">Coral</option>
        </select>
        <p>Cart Total: ${{totalPrice}}</p>
        <a [routerLink]="['/cart']"><button type="button" class="btn primary">View Cart</button></a>
      </div>
      <div class="col-9">
        <div class="row">
        <div *ngFor="let product of products | filter:refine" class="col-4 products secondary">
          <div class="coral center"><img [src]="'assets/' + product.img">
            <h4 class="center">{{product.name}}</h4>
            <p>{{product.price}}</p>
            <button (click)="addProduct(product)" type="button" class="btn primary">Add to cart</button>
          </div>
        </div>
      </div>
      </div>
    </div>
    </div>
    <app-footer></app-footer>
  </div>