<div [ngStyle]="{background: 'url(assets/reefbackground.jpg)'}">
  <div class="container">
    <app-header></app-header>
    <div class="col-12 secondary padding20 blkBorder">
        <form>
            <div class="form-group">
              <label for="FormControlInput1">Email address</label>
              <input type="email" class="form-control" id="FormControlInput1" placeholder="name@example.com">
            </div>
            <div class="form-group">
              <label for="FormControlSelect1">Reason For Contacting</label>
              <select class="form-control" id="FormControlSelect1">
                <option>Order Help</option>
                <option>Maintanence</option>
                <option>Question</option>
                <option>Wholesale Inquiry</option>
                <option>Account Maintenace</option>
              </select>
            </div>
            <div class="form-group">
              <label for="FormControlTextarea1">Additional Information</label>
              <textarea class="form-control" id="FormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="form-group">
              <button class="center">Submit</button>
            </div>
          </form>
    </div>
    <app-footer></app-footer>
  </div>

</div>