.center{
    text-align: center;
}
.footerInfo{
    background-color: lightgrey;
}
.blkLeft{
    border-left: 3px solid black;
}
.blkRight{
    border-right: 3px solid black;
}
.blkBottom{
    border-bottom: 3px solid black;
}