<div [ngStyle]="{background: 'url(assets/reefbackground.jpg)'}">
<div class="container">
  <app-header></app-header>
 
  <div class="row">
    <div class="jumbotron-fluid extra">
      <div class="container">
      <h1 class="display-4">Advanced Aquaculture</h1>
      <p class="lead">The aquaculture company that cares</p>
      <hr class="my-4">
      <p>At advanced aquaculture we pride ourselves on not only high quality prices but affordable pricing. We support sustainable aquatics and rebuilding natural reefs.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4 extra container">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vehicula tempor dolor, convallis laoreet eros lobortis ac. Maecenas gravida bibendum ipsum ut euismod. Maecenas fringilla felis porttitor varius porttitor. Integer aliquam feugiat elit id sollicitudin. Suspendisse consectetur auctor nunc nec lacinia. </p>
    </div>
    <div class="col-4 extra container">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vehicula tempor dolor, convallis laoreet eros lobortis ac. Maecenas gravida bibendum ipsum ut euismod. Maecenas fringilla felis porttitor varius porttitor. Integer aliquam feugiat elit id sollicitudin. Suspendisse consectetur auctor nunc nec lacinia. </p>
    </div>
    <div class="col-4 extra container">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vehicula tempor dolor, convallis laoreet eros lobortis ac. Maecenas gravida bibendum ipsum ut euismod. Maecenas fringilla felis porttitor varius porttitor. Integer aliquam feugiat elit id sollicitudin. Suspendisse consectetur auctor nunc nec lacinia. </p>
    </div>
  </div>
  <app-footer></app-footer>
</div>
</div>