<div [ngStyle]="{background: 'url(assets/reefbackground.jpg)'}">
<div class="container">
  <app-header></app-header>
 <div class="container">
  <div class="row">
    <div class="jumbotron-fluid secondary blkTop blkLeft blkRight blkBottom padding15">
      <div class="container">
      <h1 class="display-4">Advanced Aquaculture</h1>
      <p class="lead">The aquaculture company that cares</p>
      <hr class="my-4">
      <p>At advanced aquaculture we pride ourselves on not only high quality prices but affordable pricing. We support sustainable aquatics and rebuilding natural reefs.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4 secondary container blkLeft blkBottom blkRight padding15">
      <h2>Goals</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vehicula tempor dolor, convallis laoreet eros lobortis ac. Maecenas gravida bibendum ipsum ut euismod. Maecenas fringilla felis porttitor varius porttitor.</p>
    </div>
    <div class="col-4 secondary container blkBottom blkRight padding15">
      <h2>Mission</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vehicula tempor dolor, convallis laoreet eros lobortis ac. Maecenas gravida bibendum ipsum ut euismod. Maecenas fringilla felis porttitor varius porttitor.</p>
    </div>
    <div class="col-4 secondary container blkBottom blkRight padding15">
      <h2>Sustainability</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vehicula tempor dolor, convallis laoreet eros lobortis ac. Maecenas gravida bibendum ipsum ut euismod. Maecenas fringilla felis porttitor varius porttitor.</p>
    </div>
  </div>
</div>
  <app-footer></app-footer>
</div>
</div>