
.insideColor{
    background-color: #08B2E3;
}

.primary{
    background-color: #EFE9F4;
}
.secondary{
    background-color: #08B2E3;
}
.cardBody{
    margin: 20px;
}
.lightgrey{
    background-color: lightgrey;
}
.darkgray{
    background-color: darkgray;
}
.blkTop{
  border-top: 3px solid black;
}
.blkLeft{
  border-left: 3px solid black;
}
.blkRight{
  border-right: 3px solid black;
}
.blkBottom{
  border-bottom: 3px solid black;
}