
.insideColor{
    background-color: #08B2E3;
}

.primary{
    background-color: #EFE9F4;
}
.secondary{
    background-color: #08B2E3;
}
.cardBody{
    margin: 20px;
}
.lightgrey{
    background-color: lightgrey;
}
.darkgray{
    background-color: darkgray;
}
