<!-- <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <header>
    <div class="header">
      <h1 id="navTitle">Advanced AquaCulture</h1>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Menu
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Home Page</a>
              <a class="dropdown-item" href="#">Livestock</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">About Us</a>
            </div>
          </li>
        </ul>
      </div>
  </header>

  <div class="jumbotron">
    <h1 class="display-4">Advanced AquaCulture</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero tempore ullam vitae nemo architecto
      labore facilis odit, fuga facere non iusto sit a recusandae rem, dolor explicabo, accusamus minus reprehenderit.
    </p>
    <hr class="my-4">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto veritatis totam eos cum laudantium id? Autem
      sint non beatae. Quaerat culpa assumenda harum, porro nobis magni nemo illo quae et?</p>
  </div>

  <div class="card" style="width: 18rem;"></div>
  <img class="card-img-top" src="" alt="Card image cap">
  <div></div>


  <footer class="footer">
    <ul>
      <li><a href="">Home Page</a></li>
      <li><a href="">Livestock</a></li>
      <li><a href="">About Us</a></li>
    </ul>

  </footer>

</body>

</html> -->
