.cartContents{
    box-sizing: border-box;
    border: 2px solid black;
}
.primary{
    background-color: #EFE9F4;
}
.secondary{
    background-color: #08B2E3;
}
.totalBox{
    border-left: 2px solid black;
}